@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.nav-link {
		@apply flex my-8 transition-colors transition-[border] pl-9 hover:text-secondaryLight hover:border-r-4 md:hover:border-r-0 md:hover:border-b-2 md:inline-block  md:pl-0 md:pr-4 md:h-full md:my-0 md:py-8 md:mx-1;
	}

	.nav-button {
		@apply absolute;
	}

	.button {
		@apply uppercase font-bellefair text-2xl centering w-[150px] h-[150px] bg-white text-primaryDark rounded-full mx-auto md:w-[242px] md:h-[242px] lg:w-[274px] lg:h-[274px];
	}
}

@layer utilities {
	.centering {
		@apply flex justify-center items-center;
	}

	.background-utils {
		@apply bg-cover bg-no-repeat h-screen;
	}

	.heading1 {
		@apply text-[80px] leading-[100px] font-bellefair font-normal text-white uppercase text-center
		md:text-heading1 md:leading-heading1 lg:text-left;
	}

	.heading2 {
		@apply text-heading3 uppercase leading-[64.18px] font-bellefair font-normal text-white 
		md:text-[80px] md:leading-[91.68px] lg:text-heading2 lg:leading-heading2;
	}

	.heading3 {
		@apply text-2xl leading-[27.5px] font-bellefair font-normal 
		md:text-4xl leading-[45.84px] lg:text-heading3 lg:leading-heading3;
	}

	.heading4 {
		@apply font-bellefair font-normal text-base leading-[18.34px]
		md:text-[24px] md:leading-[27.5px] lg:text-heading4 lg:leading-heading4;
	}

	.heading5 {
		@apply font-barlowCondensed font-normal uppercase text-base leading-[19.2px] tracking-navTextLetterSpace text-center text-secondaryLight
		md:text-2xl md:leading-[24px] md:tracking-[3.38px] lg:text-heading5 lg:leading-heading5 lg:tracking-heading5LetterSpace lg:text-left;
	}

	.subheading1 {
		@apply uppercase font-bellefair font-normal text-subheading1 leading-subheading1 lg:text-left;
	}

	.subheading2 {
		@apply uppercase font-barlowCondensed font-normal text-[14px] leading-[16.4px] tracking-[2.36px] lg:text-left;
	}

	.nav-text {
		@apply text-secondaryLight uppercase font-barlowCondensed font-normal text-base leading-[19.2px] tracking-navTextLetterSpace
		md:text-sm md:leading-[16.8px] lg:text-base lg:leading-[19.2px];
	}

	.text {
		@apply font-barlowCondensed font-normal text-[15px] leading-[25px] max-w-xs text-center text-secondaryLight
		md:text-[20px] md:max-w-lg md:leading-[28px] lg:text-lg lg:leading-[32px] lg:text-left lg:mx-0 lg:w-[444px] lg:h-[160px];
	}
}
